$colors: ('purple', 'orange', 'beige');

@each $color in $colors {
  .color-#{$color} {
    --banner-color: var(--#{$color});
  }
}

.banner {
  position: relative;
  --banner-padding: 30px;
  --empty-picture-color: #75797d;

  &-headline {
    font-family: var(--font-headline);
    text-transform: uppercase;
  }
}
