/* Fonts */
$font-base: 'DM Sans', sans-serif;
$font-headline: 'Franklin Gothic Std', sans-serif;

/* Colors */
$purple: #652B80;
$orange: #FB7959;
$beige: #E9D5CA;
$black: #000;
$white: #fff;

/* Spacing */
$nav-safe-area: 4.8125rem;
